 body { padding-top: 70px; }
.movies {margin-top: 2rem; margin-bottom: .60rem;}
.series {margin-bottom: .60rem;}


.img-card img{
    margin: auto;
    width: 180px;
    border-radius: 6px;
    border: 1px solid #eee;
    padding: 10px; 
}

.tagline {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    width: 120px;
    margin: auto;
    position: absolute;
    bottom: 30px;
    left: 0;
    /* font-weight: bold; */
    right: 0;
    background: #FFF;
    border-radius: 1em;
    color: #656565;
    padding: 10px 0;
    line-height: 1.4;
}

.btn-primary {
    border-radius: 10em;
}

nav {
    margin: auto;
} 

.pagination li {
    border-radius: 10em;
    margin:0 10px;
}

.pagination li:first-child {}

.pagination li:last-child {}

.btn.btn-icon {
    border-radius: 10em;
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    text-align: center;
}

.movies .btn-icon {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.card .title-header h3{
    text-align: center;
    color: #9c9c9c;
}
.img-card img {
    position: relative;
}
